.App{
  margin: 0 80px;
}

.navigation{
  display: flex;
  justify-content: end;
  width: 100%;
  transition: .3s;
}

.navigation a{
  text-decoration: none;
  margin: 15px;
  color: #9fa0a2;
  font-size: 20px;
}
.navigation a:hover{
  color: #d56b6b;
}